{% import "_includes/forms" as forms %}

{{ forms.textField({
    first: true,
    label: "Qiitaのトークン",
    name: 'token',
    instructions: 'Qiitaの設定画面から個人用アクセストークンを取得し、入力してください。<a href="https://qiita.com/settings/applications" target="_blank">Qiita設定画面</a>',
    value: settings.token
}) }}
